<!DOCTYPE html>
<html>
<head>
  <title>DevNotes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="center auto_close fade_in <%= flash_class(key) %>">
        <button class="close" data-dismiss="alert">×</button>
        <%= value %>
      </div>
    <% end %>

    <div id="user-widget">
      <% if current_account %>
        Welcome <strong><%= current_account.name %></strong>!
        <%= link_to "Sign out", sign_out_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
      <% end %>
    </div>

    <%= yield %>
  </div>

</body>
</html>
